[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = https://github.com/janraasch/roxo-hugo
