<footer class="site-footer">
    <div class="container" style="max-width: inherit;">
      <div class="row">
        <div class="col-12">
          <div class="site-footer-logo"><a href="{{ .Site.BaseURL }}">Isabell Martins</a></div>
        </div>
        {{ with .Site.Data.footer.contactInfo }}
        <div class="col-lg-4 col-md-6">
          <div class="site-footer-widget">
            <h5 class="site-footer-widget-title">{{ .title }}</h5>
            <p class="site-footer-widget-description">
              <a href="tel:{{ .phone }}">{{ .phone }}</a>
              <br>
              <a href="mailto:{{ .email }}">{{ .email }}</a>
            </p>
          </div>
        </div>
        {{ end }}
        {{ with .Site.Data.footer.sitemap }}
        <div class="col-lg-3 col-md-6">
          <div class="site-footer-widget">
            <h5 class="site-footer-widget-title">{{ .title }}</h5>
            <ul class="site-footer-widget-links">
              {{ range .link }}
              <li><a href="{{ .url | absURL }}">{{ .name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        {{ with .Site.Data.footer.legal }}
        <div class="col-lg-3 col-md-6">
          <div class="site-footer-widget">
            <h5 class="site-footer-widget-title">{{ .title }}</h5>
            <ul class="site-footer-widget-links">
              {{ range .link }}
                <li><a href="{{ .url }}">{{ .name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        <div class="col-lg-2 col-md-6 col-12">
          <a href="#top" class="site-footer-widget-top">
            <img src="{{ "images/to-top.svg" | absURL }}" alt="Nach oben">
            <p>
               {{ .Site.Data.footer.back_to_top_button_text | safeHTML }}
            </p>
          </a>
        </div>
      </div>
    </div>
  </footer>

  {{ $vendor := resources.Get "js/vendor.js" | minify }}
  <script src="{{ $vendor.Permalink }}"></script>
  {{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink }}"></script>
  {{ $formhandler := resources.Get "js/formhandler.js" | minify }}
  <script src="{{ $formhandler.Permalink }}"></script>
