<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- TODO: Title muss für pages dann aber der title der page sein! -->
<title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="apple-touch-icon" sizes="57x57" href='/images/apple-touch-icon-57x57.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="60x60" href='/images/apple-touch-icon-60x60.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="72x72" href='/images/apple-touch-icon-72x72.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="76x76" href='/images/apple-touch-icon-76x76.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="114x114" href='/images/apple-touch-icon-114x114.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="120x120" href='/images/apple-touch-icon-120x120.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="144x144" href='/images/apple-touch-icon-144x144.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="152x152" href='/images/apple-touch-icon-152x152.png?v=7855fff88a'>
<link rel="apple-touch-icon" sizes="180x180" href='/images/apple-touch-icon-180x180.png?v=7855fff88a'>
<link rel="icon" type="image/png" href='/images/favicon-32x32.png?v=7855fff88a' sizes="32x32">
<link rel="icon" type="image/png" href='/images/android-chrome-192x192.png?v=7855fff88a' sizes="192x192">
<link rel="icon" type="image/png" href='/images/favicon-96x96.png?v=7855fff88a' sizes="96x96">
<link rel="icon" type="image/png" href='/images/favicon-16x16.png?v=7855fff88a' sizes="16x16">
<meta name="msapplication-TileImage" content='/images/mstile-144x144.png?v=7855fff88a'>

<link rel="stylesheet" href='/css/screen.css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href='/font-awesome/css/font-awesome.min.css'>

<meta name="description" content="Individuelle und ganzheitliche Ernährungsberatung in Lübeck" />
<link rel="shortcut icon" href="/favicon.png" type="image/png" />
<!-- TODO: Use real absUrl of page -->
<link rel="canonical" href="https://www.isabellmartins.de/" />
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta property="og:site_name" content="Isabell Martins" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Isabell Martins" />
<meta property="og:description" content="Individuelle und ganzheitliche Ernährungsberatung in Lübeck" />
<meta property="og:url" content="https://www.isabellmartins.de/" />
<meta property="og:image" content="https://raw.githubusercontent.com/janraasch/ghost-on-heroku/files/2019/01/background_1430507946121-1431629532548.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Isabell Martins" />
<meta name="twitter:description" content="Individuelle und ganzheitliche Ernährungsberatung in Lübeck" />
<meta name="twitter:url" content="https://www.isabellmartins.de/" />
<meta name="twitter:image" content="https://raw.githubusercontent.com/janraasch/ghost-on-heroku/files/2019/01/background_1430507946121-1431629532548.jpg" />
<meta property="og:image:width" content="1598" />
<meta property="og:image:height" content="1080" />

<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "WebSite",
"publisher": {
    "@type": "Organization",
    "name": "Isabell Martins",
    "logo": "https://www.isabellmartins.de/favicon.png"
},
"url": "https://www.isabellmartins.de/",
"image": {
    "@type": "ImageObject",
    "url": "https://raw.githubusercontent.com/janraasch/ghost-on-heroku/files/2019/01/background_1430507946121-1431629532548.jpg",
    "width": 1598,
    "height": 1080
},
"mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.isabellmartins.de/"
},
"description": "Individuelle und ganzheitliche Ernährungsberatung in Lübeck"
}
</script>
<meta name="keywords" content="ganzheitlich, ernährung, ernährungsberatung, lübeck" />
