{{ define "main" }}
<header id="site-head" {{ with .Params.header_image }}style="background-image: url({{ . }})"{{ end }}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            
            <h1 class="blog-title">{{ .Site.Title }}</h1>
            {{ with .Site.Params.description }}<h2 class="blog-description">{{ . }}</h2>{{ end }}

            <a class='btn leistungen'>Leistungen</a>
            <a class='btn ueber_mich'>Über mich</a>
            <a class='btn kontakt'>Kontakt</a><br>
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>

</header>
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>
    {{ $sections := where .Site.Pages.ByWeight ".Type" "eq" "section" }}
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article class='post {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}'>
                {{ .Render "section" }}
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
