<!-- Instead of this mess we should switch to whatever https://realfavicongenerator.net/ says :-) -->
<!-- And/or create a new favicon via https://favicon.io/favicon-generator/ -->
<link rel="apple-touch-icon" sizes="57x57" href='{{ "/images/apple-touch-icon-57x57.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="60x60" href='{{ "/images/apple-touch-icon-60x60.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="72x72" href='{{ "/images/apple-touch-icon-72x72.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="76x76" href='{{ "/images/apple-touch-icon-76x76.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="114x114" href='{{ "/images/apple-touch-icon-114x114.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="120x120" href='{{ "/images/apple-touch-icon-120x120.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="144x144" href='{{ "/images/apple-touch-icon-144x144.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="152x152" href='{{ "/images/apple-touch-icon-152x152.png" | relURL }}'>
<link rel="apple-touch-icon" sizes="180x180" href='{{ "/images/apple-touch-icon-180x180.png" | relURL }}'>
<link rel="icon" type="image/png" href='{{ "/images/favicon-32x32.png" | relURL }}' sizes="32x32">
<link rel="icon" type="image/png" href='{{ "/images/android-chrome-192x192.png" | relURL }}' sizes="192x192">
<link rel="icon" type="image/png" href='{{ "/images/favicon-96x96.png" | relURL }}' sizes="96x96">
<link rel="icon" type="image/png" href='{{ "/images/favicon-16x16.png" | relURL }}' sizes="16x16">
<meta name="msapplication-TileImage" content='{{ "/images/mstile-144x144.png" | relURL }}'>

<!-- See https://www.netlifycms.org/docs/add-to-your-site/ -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<style>
    a.btn.site-menu-special {
        /* background-color: #f2efe8;;
        color: #222; */
        background: #B80135;
        color: white;
    }
    a.btn.site-menu-special:hover {
        background: #9b002c;
        color: white;
    }
</style>
