{{ define "main" }}
<main class="content page-template 404" role="main">
    <article class="post page">
        <header class="post-header">
            <a id="blog-logo" href="{{ "/" | relURL }}">
                {{ .Site.Title }}
            </a>
        </header>
        <h1 class="post-title">404 - Seite nicht gefunden</h1>
        <section class="post-content">
            Versuchen Sie es hier noch einmal: <a href="{{ "/" | relURL }}" alt="Zurück">Zurück zur Startseite</a>.
        </section>
    </article>
</main>
{{ end }}