{{ define "main" }}
<header id="site-head" {{ with .Params.header_image }}style="background-image: url({{ . | absURL }})"{{ end }}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            
            {{ with .Site.Title }}<h1 class="blog-title">{{ . }}</h1>{{ end }}
            {{ with .Site.Params.description }}<h2 class="blog-description">{{ . }}</h2>{{ end }}

            {{ range .Site.Menus.main.ByWeight }}
            <a class='btn site-menu' data-anchor='{{ .URL }}'>{{.Name }}</a>
            {{ end }}
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>

</header>
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>
    {{ $sections := where .Site.Pages.ByWeight ".Type" "eq" "section" }}
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article class='post {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}'>
                {{ .Render "section" }}
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
